In [3]:
from aocd.models import Puzzle

### day 1

In [9]:
puzzle = Puzzle(year=2020, day=1)

In [13]:
inp = puzzle.input_data

In [17]:
data = list(map(int, inp.split('\n')))

In [11]:
import itertools

In [23]:
for x, y in itertools.combinations(data, 2):
    if x+y==2020:
        print(x, y, x*y)

75 1945 145875

In [24]:
for x, y, z in itertools.combinations(data, 3):
    if x+y+z==2020:
        print(x, y, z, x*y* z)

74 1052 894 69596112

### day 2

In [35]:
import numpy as np
import pandas as pd

In [4]:
puzzle = Puzzle(year=2020, day=2)
inp = puzzle.input_data

In [6]:
data = inp.split('\n')

In [10]:
print(data[:10])

['5-10 b: bhbjlkbbbbbbb', '3-4 j: hjvj', '8-9 p: pmljtsttp', '3-4 t: hvtttqhdjmmnbqwbgfs', '4-6 m: mblwtzmvmdjkkmmtsckm', '6-9 f: ffffftfff', '1-3 g: xggg', '3-10 k: rwkhttkxxdpnlkq', '3-11 w: wwmwwwwwwwww', '5-7 f: fffffffff']

In [17]:
'5-10 b: bhbjlkbbbbbbb'.split("-")[1].split(" ")[2]

'bhbjlkbbbbbbb'

In [33]:
def parse(x):
    min_cnt = int(x.split("-")[0])
    max_cnt = int(x.split("-")[1].split(" ")[0])
    letter = x.split("-")[1].split(" ")[1][0]
    password = x.split("-")[1].split(" ")[2]
    cnt = np.sum([char==letter for char in password])
    return cnt >= min_cnt and cnt <= max_cnt

In [34]:
np.sum([parse(x) for x in data])

439

In [31]:
def parse(x):
    min_cnt = int(x.split("-")[0])
    max_cnt = int(x.split("-")[1].split(" ")[0])
    letter = x.split("-")[1].split(" ")[1][0]
    password = x.split("-")[1].split(" ")[2]

    return (password[min_cnt - 1] == letter) + (password[max_cnt - 1] == letter) == 1

In [32]:
np.sum([parse(x) for x in data])

584

In [26]:
[parse(x) for x in data[:10]]

[False, True, False, True, True, True, False, True, True, True]

In [27]:
data[:10]

['5-10 b: bhbjlkbbbbbbb',
 '3-4 j: hjvj',
 '8-9 p: pmljtsttp',
 '3-4 t: hvtttqhdjmmnbqwbgfs',
 '4-6 m: mblwtzmvmdjkkmmtsckm',
 '6-9 f: ffffftfff',
 '1-3 g: xggg',
 '3-10 k: rwkhttkxxdpnlkq',
 '3-11 w: wwmwwwwwwwww',
 '5-7 f: fffffffff']

a more elegant solution with regex groups

In [37]:
import re

In [52]:
def parse(x):
    min_cnt, max_cnt, letter, password = re.search('(.*)-(.*) (.*): (.*)', x).groups()
    cnt = np.sum([char==letter for char in password])
    return cnt >= int(min_cnt) and cnt <= int(max_cnt)

In [53]:
np.sum([parse(x) for x in data])

439

### day 3

In [57]:
puzzle = Puzzle(year=2020, day=3)

In [58]:
inp = puzzle.input_data

In [84]:
data = inp.split('\n')

In [102]:
test_data = """..##.........##.........##.........##.........##.........##.......
#...#...#..#...#...#..#...#...#..#...#...#..#...#...#..#...#...#..
.#....#..#..#....#..#..#....#..#..#....#..#..#....#..#..#....#..#.
..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#
.#...##..#..#...##..#..#...##..#..#...##..#..#...##..#..#...##..#.
..#.##.......#.##.......#.##.......#.##.......#.##.......#.##.....
.#.#.#....#.#.#.#....#.#.#.#....#.#.#.#....#.#.#.#....#.#.#.#....#
.#........#.#........#.#........#.#........#.#........#.#........#
#.##...#...#.##...#...#.##...#...#.##...#...#.##...#...#.##...#...
#...##....##...##....##...##....##...##....##...##....##...##....#
.#..#...#.#.#..#...#.#.#..#...#.#.#..#...#.#.#..#...#.#.#..#...#.# """.split("\n")

In [123]:
test_data

['..##.........##.........##.........##.........##.........##.......',
 '#...#...#..#...#...#..#...#...#..#...#...#..#...#...#..#...#...#..',
 '.#....#..#..#....#..#..#....#..#..#....#..#..#....#..#..#....#..#.',
 '..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#..#.#...#.#',
 '.#...##..#..#...##..#..#...##..#..#...##..#..#...##..#..#...##..#.',
 '..#.##.......#.##.......#.##.......#.##.......#.##.......#.##.....',
 '.#.#.#....#.#.#.#....#.#.#.#....#.#.#.#....#.#.#.#....#.#.#.#....#',
 '.#........#.#........#.#........#.#........#.#........#.#........#',
 '#.##...#...#.##...#...#.##...#...#.##...#...#.##...#...#.##...#...',
 '#...##....##...##....##...##....##...##....##...##....##...##....#',
 '.#..#...#.#.#..#...#.#.#..#...#.#.#..#...#.#.#..#...#.#.#..#...#.# ']

In [121]:
def score(r, d, inp_data=data):
    v = 0
    for i, row in enumerate(inp_data):
        check = (( int ((i/d) * r ))) % len(inp_data[0])
        v = v + (row[check] == "#") * (i % d == 0)
    return v

In [122]:
score(1, 1) * score(3, 1) * score(5, 1) * score(7, 1) * score(1, 2)

5872458240

## day 4

In [10]:
import numpy as np
import re
import pandas as pd

In [5]:
puzzle = Puzzle(year=2020, day=4)
inp = puzzle.input_data
data = inp.split('\n\n')

In [7]:
data[:10]

['eyr:2029 pid:157374862\nbyr:1991 ecl:amb hcl:#a97842 hgt:178cm',
 'byr:1962 pid:547578491 eyr:2028 ecl:hzl hgt:65in iyr:2013 hcl:#623a2f',
 'hgt:71in eyr:2037\necl:#8e276e hcl:z iyr:2019\nbyr:2022 pid:157cm',
 'hcl:#733820 hgt:175 eyr:2028 iyr:2011\npid:87786389\necl:hzl byr:1980',
 'hgt:163in hcl:z pid:8261494508 cid:136 ecl:grn eyr:1958\nbyr:2030 iyr:1991',
 'iyr:2021\nhcl:6708a3\necl:zzz eyr:2034 byr:2010\nhgt:189cm\npid:466438311',
 'iyr:2012 pid:9720867166 byr:2006 eyr:2022 hgt:72cm ecl:utc hcl:#c0946f',
 'ecl:#353bc9\niyr:2020 pid:874363951 cid:113\nhcl:z eyr:2040 hgt:76in byr:1975',
 'eyr:1971\nbyr:1955 pid:193cm hgt:189cm hcl:#ceb3a1 ecl:grn\niyr:2023',
 'byr:2014\niyr:2026 eyr:1978 hcl:z cid:312 pid:8294818417\nhgt:169in ecl:#82bb02']

In [12]:
fields = [
'byr',
'iyr',
'eyr',
'hgt',
'hcl',
'ecl',
'pid',
# 'cid',
]

In [13]:
def valid(x):
    return np.sum([field in x for field in fields]) == len(fields)

In [14]:
 np.sum([valid(x) for x in data])

245

In [16]:
valids = [x.replace("\n", " ") for x in data if valid(x)]

In [49]:
ecls = 'amb blu brn gry grn hzl oth'.split(" ")

In [17]:
from collections import ChainMap 

def parser(x):
    k,v = re.search('(.*):(.*)', x).groups()
    return {k: v}

def parser_full(x):
    z = [parser(y) for y in x.split(" ")]
    return ChainMap(*z)

parsed_list = [parser_full(x) for x in valids]

In [18]:
df = pd.DataFrame(parsed_list)

In [19]:
df

      byr  cid      ecl   eyr      hcl    hgt   iyr         pid
0    1962  NaN      hzl  2028  #623a2f   65in  2013   547578491
1    2022  NaN  #8e276e  2037        z   71in  2019       157cm
2    1980  NaN      hzl  2028  #733820    175  2011    87786389
3    2030  136      grn  1958        z  163in  1991  8261494508
4    2010  NaN      zzz  2034   6708a3  189cm  2021   466438311
..    ...  ...      ...   ...      ...    ...   ...         ...
240  1965  NaN      grn  2020  #c0946f  181cm  2012   528782860
241  2006  NaN      grt  1949   d3ca76  176in  2030     #ba10da
242  2025  NaN  #898478  2030  #e9f7a5   66cm  2022       159cm
243  1994  NaN      gmt  2022  #ceb3a1  151in  2016   028071950
244  2001  NaN      brn  2026  #602927  167cm  2011   487702556

[245 rows x 8 columns]

In [20]:
df['byr'] = df['byr'].apply(int)
df['eyr'] = df['eyr'].apply(int)
df['iyr'] = df['iyr'].apply(int)

In [32]:
valid_byr = [1920 <= x <= 2002 for x in df['byr']]
valid_eyr = [2020 <= x <= 2030 for x in df['eyr']]
valid_iyr = [2010 <= x <= 2020 for x in df['iyr']]

In [34]:
valid_years = [(x + y + z) == 3 for x, y, z in list(zip(valid_byr, valid_eyr, valid_iyr))]

In [83]:
df2 = df[valid_years]

In [84]:
def parse_height(v):
    dig, unit = re.search('([0-9]*)([a-z]*)', v).groups()
    if unit == "cm":
        return (int(dig) >= 150) & (int(dig) <= 193  )     
    if unit == "in":
        return (int(dig) >= 59) & (int(dig) <= 76)   
    return False

In [86]:
df2['hgt_p'] = df2['hgt'].apply(parse_height)

In [87]:
chars = "abcdef0123456789"
def parse_hcl(v):
    if v[0] != "#":
        return False
    if len(v) > 7:
        return False
    for char in v[1:]:
        if char not in chars:
            return False
    return True

In [88]:
df2['hcl_p'] = df2['hcl'].apply(parse_hcl)

In [89]:
def parse_pid(v):
        for ch in v:
            if ch.isalpha():
                return False
        return len(str(v)) == 9

In [90]:
df2['pid_p'] = df2['pid'].apply(parse_pid)

In [91]:
df2['valid_ecl'] = [x in ecls for x in df2['ecl']]

In [92]:
df2.query('pid_p == True and hcl_p == True and hgt_p == True and valid_ecl == True')

,byr,cid,ecl,eyr,hcl,hgt,iyr,pid,hgt_p,hcl_p,pid_p,valid_ecl
0,1962,NaN,hzl,2028,#623a2f,65in,2013,547578491,True,True,True,True
9,1936,342,amb,2025,#7d3b0c,160cm,2010,429853734,True,True,True,True
13,1997,NaN,blu,2027,#888785,192cm,2014,381094641,True,True,True,True
17,1970,NaN,grn,2023,#18171d,191cm,2010,284327216,True,True,True,True
18,1929,194,oth,2026,#b6652a,156cm,2013,224596482,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
233,1997,NaN,oth,2026,#341e13,159cm,2010,092679330,True,True,True,True
236,1979,272,brn,2025,#fffffd,180cm,2012,456545466,True,True,True,True
239,1990,NaN,blu,2027,#b6652a,191cm,2017,074411798,True,True,True,True
240,1965,NaN,grn,2020,#c0946f,181cm,2012,528782860,True,True,True,True
244,2001,NaN,brn,2026,#602927,167cm,2011,487702556,True,True,True,True